<template>
  <div :class="setting.direction">
    <i :class="item.icon + ' ' + setting.icon"></i>
    <span :class="setting.text">{{ item.label }}</span>
  </div>
</template>
<script>
export default defineComponent({
  data() {
    return {};
  },
  components: {},
  props: {
    item: {},
    setting: {},
  },
  methods: {},
  created() {},
});
</script>

<style lang="scss" scoped></style>
