<template>
  <div class="h-full w-full">
    <Swiper
      :modules="[SwiperAutoplay, SwiperEffectCreative]"
      :slides-per-view="1"
      :loop="true"
      :effect="'creative'"
      :autoplay="{
        delay: 5000,
        disableOnInteraction: true,
      }"
      :touchStartPreventDefault="{
        type: BooleanConstructor,
        default: undefined,
      }"
      class="h-full w-full"
      :creative-effect="{
        prev: {
          shadow: false,
          translate: ['-20%', 0, -1],
        },
        next: {
          translate: ['100%', 0, 0],
        },
      }"
    >
      <SwiperSlide class="h-full w-full" v-for="slide in items" :key="slide">
        <img class="h-full w-full object-cover" :src="slide.imageUrl" />
      </SwiperSlide>
      creative
    </Swiper>
  </div>
</template>
<script>
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/swiper-bundle.css';

export default {
  components: {
    Swiper,
    SwiperSlide,
  },
  data() {
    return {
      items: [
        {
          title: 'Slide 1',
          imageUrl: '/_nuxt/assets/img/demo22.jpg',
        },
        {
          title: 'Slide 2',
          imageUrl: '/_nuxt/assets/img/demo1.jpg',
        },
        // Add more slides as needed
      ],
    };
  },
  methods: {
    handleSlideClick(index) {
      // Handle slide click event
      this.swiper.slideNext();
    },
  },
};
</script>

<style scoped>
/* Add your custom styles here */
</style>
