<template>
  <div v-if="listBox && setting" class="w-full" :class="setting.direction">
    <div
      class="relative w-full flex-1"
      v-for="(item, key) in listBox"
      :key="key"
    >
      <CommonBox :item="item" :setting="setting.styleItem" />
      <div
        class="absolute top-[60px] z-50"
        v-if="item.subMenu.length > 0"
        v-show="!item.isShow"
      >
        <CommonNavHeader
          :listBox="item.subMenu"
          :setting="setting.subSetting"
        />
      </div>
    </div>
  </div>
</template>
<script>
export default defineComponent({
  data() {
    return {};
  },
  components: {},
  props: {
    listBox: [],
    setting: {},
  },
  methods: {},
  created() {},
});
</script>

<style lang="scss" scoped></style>
