<template>
  <div class="content-wrapper">
    <div id="toasttt"></div>
    <section class="content-header">
      <div class="container-fluid">
        <h1>Quản lý đơn hàng</h1>
        <div
          class="mt-3 p-4 bg-white round"
          style="max-height: 1000px; overflow-y: auto"
        >
          <div class="card-header">
            <h3 class="card-title">Danh sách hiện tại</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm">
                <button
                  data-toggle="modal"
                  data-target="#sreachModal"
                  type="button"
                  class="btn btn-block btn-primary btn-sm"
                  @click="clearData()"
                >
                  <i class="fas fa-plus" aria-hidden="true"></i> Thêm mới
                </button>
              </div>
            </div>
            <div class="card-tools">
              <div class="input-group input-group-sm">
                <button type="button" class="btn btn-block btn-danger btn-sm">
                  <i class="fas fa-trash" aria-hidden="true"></i> Sản phẩm đã
                  xóa
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Tên tìm kiếm</label
                  ><input
                    v-model="inputSreachTextListOrder"
                    @keyup.enter="handleEnterSrearch(inputSreachTextListOrder)"
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Gõ từ khóa và enter"
                  />
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Ngày đặt</label
                  ><input
                    @change="handleDateChange(inputSreachDateListOrder)"
                    v-model="inputSreachDateListOrder"
                    type="date"
                    class="form-control"
                    id="dateTime"
                  />
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label>Trạng thái</label
                  ><select
                    class="form-control select2 select2-hidden-accessible"
                    id="statusSelect"
                    v-model="sreachStatus"
                    @change="sreachStatusListOrder(sreachStatus)"
                  >
                    <option value="1">Chưa duyệt</option>
                    <option value="2">Đã duyệt</option>
                    <option value="3">Đã nhận</option>
                  </select>
                </div>
              </div>
              <div class="form-group" title="Reset bộ lọc">
                <label>&nbsp;</label
                ><span class="form-control" @click="loadOrder = orderList"
                  ><i class="fas fa-sync" aria-hidden="true"></i
                ></span>
              </div>
            </div>
          </div>
          <table class="table table-striped text-center">
            <thead>
              <tr>
                <th>STT</th>
                <th>Mã đơn hàng</th>
                <th>Tên người đặt</th>
                <th>Địa chỉ</th>
                <th>Ngày đặt</th>
                <th>Trạng thái</th>
                <th>Chức năng</th>
              </tr>
            </thead>
            <tbody style="max-height: 700px; overflow: scroll">
              <tr v-for="(value, key) in loadOrder" :key="key">
                <td>{{ key + 1 }}</td>
                <td>{{ value.id }}</td>
                <td>{{ value.user.fullname }}</td>
                <td>{{ value.user.address }}</td>
                <td>{{ value.createdAt }}</td>
                <td>
                  <span class="text-info" v-if="value.status == 1">
                    Chưa duyệt</span
                  >
                  <span class="text-primary" v-if="value.status == 2">
                    Đã duyệt</span
                  >
                  <span class="text-success" v-if="value.status == 3">
                    Đã nhận</span
                  >
                </td>
                <td>
                  <div
                    class="btn btn-sm btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModal"
                    @click="getItemOrder(key, value.id)"
                  >
                    <i class="fas fa-edit" aria-hidden="true"></i> Chi tiết
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" style="margin: 2rem auto; max-width: 1500px">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Chi tiết đơn hàng
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <p class="text-center">
                  Mã đơn hàng :
                  <span style="font-weight: 700; color: #007bff">{{
                    orderItem.info.id
                  }}</span>
                </p>
              </div>
              <div class="form-group">
                <p style="text-align: end">
                  Thời gian đặt :
                  <span style="font-weight: 700">{{
                    orderItem.info.createdAt
                  }}</span>
                </p>
              </div>
              <p style="font-size: 20px; font-weight: 700; color: #007bff">
                Thông tin khách hàng
              </p>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="fullname">Tên người mua</label>
                  <input
                    type="text"
                    class="form-control"
                    id="fullname"
                    v-model="orderItem.info.user.fullname"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="email">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    v-model="orderItem.info.user.email"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="sdt">SDT</label>
                  <input
                    type="text"
                    class="form-control"
                    id="sdt"
                    v-model="orderItem.info.user.phone"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="address">Địa chỉ nhận hàng</label>
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    v-model="orderItem.info.user.address"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="note">Ghi chú</label>
                <input
                  type="text"
                  class="form-control"
                  id="note"
                  v-model="orderItem.info.note"
                />
              </div>
            </form>
            <p style="font-size: 20px; font-weight: 700; color: #007bff">
              Danh sách sản phẩm
            </p>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Ảnh minh họa</th>
                  <th scope="col">Tên sản phẩm</th>
                  <th scope="col">Số lượng</th>
                  <th scope="col">Đơn giá</th>
                  <th scope="col">Thành tiền</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, key) in orderItem.listProduct" :key="key">
                  <th scope="row">{{ key + 1 }}</th>
                  <td>{{ item.story.view }}</td>
                  <td>{{ item.story.name }}</td>
                  <td>
                    <input
                      type="text"
                      @input="updateNumberProduct(key, $event)"
                      :value="item.number"
                    />
                  </td>
                  <td>{{ item.story.pice }}</td>
                  <td class="price_product">
                    {{ item.story.pice * item.number }}
                  </td>
                </tr>
              </tbody>
            </table>
            <p style="font-size: 20px; font-weight: 700; color: #007bff">
              Phần thanh toán
            </p>
            <div>
              <div class="d-flex justify-content-between">
                <span style="font-weight: 500">Tạm tính</span>
                <span style="font-size: 20px; font-weight: 500; color: red">
                  {{ sumPiceProduct }}</span
                >
              </div>
              <div class="d-flex justify-content-between">
                <span style="font-weight: 500">Phí vận chuyển</span>
                <span style="font-size: 20px; font-weight: 500; color: red">
                  {{ transportFee }}</span
                >
              </div>
              <div class="d-flex justify-content-between">
                <span style="font-weight: 500">Mã giảm giá </span>
                <span
                  style="font-size: 20px; font-weight: 500; color: #28a745"
                  >{{ discountCode }}</span
                >
              </div>
              <div class="d-flex justify-content-between">
                <span style="font-weight: 500">Thành tiền</span>
                <span style="font-size: 20px; font-weight: 500; color: red">
                  {{ intoMony }}</span
                >
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="sreachModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" style="margin: 2rem auto; max-width: 1500px">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Chi tiết đơn hàng
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group position-relative">
                <label for="fullname">Chọn người nhận</label>
                <input
                  type="text"
                  class="form-control"
                  id="fullname"
                  placeholder="Có thể tìm kiếm theo tên, SDT, email và nhấn enter để tìm kiêm"
                  v-model="sreachUser"
                  @keyup.enter="handleSrearchUser()"
                />
                <ul
                  v-if="showDataSreachUser"
                  class="list-group position-absolute"
                  id="data_list_user"
                >
                  <li
                    class="list-group-item"
                    v-for="(value, key) in dataSreachUser"
                    :key="key"
                    @click="
                      (infoUserCreate = value), (showDataSreachUser = false)
                    "
                  >
                    {{ value.fullname + "-- " + value.email }}
                  </li>
                  <li v-if="dataSreachUser.length == 0" class="list-group-item">
                    Không có dữ liệu
                  </li>
                </ul>
              </div>
              <p style="font-size: 20px; font-weight: 700; color: #007bff">
                Thông tin khách hàng
              </p>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="fullname">Tên người mua</label>
                  <input
                    type="text"
                    class="form-control"
                    id="fullname"
                    v-model="infoUserCreate.fullname"
                    disabled
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="email">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    v-model="infoUserCreate.email"
                    disabled
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="sdt">SDT</label>
                  <input
                    type="text"
                    class="form-control"
                    id="sdt"
                    v-model="infoUserCreate.phone"
                    disabled
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="address">Địa chỉ nhận hàng</label>
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    v-model="infoUserCreate.address"
                    disabled
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="discountCode">Mã giảm giá</label>
                <input
                  type="text"
                  class="form-control"
                  id="discountCode"
                  v-model="orderItem.info.discountCode"
                  placeholder="Nhập mã giảm giá"
                  @keyup.enter="handleCheckDiscountCode()"
                />
                <div v-if="infoDiscountCode == {}"></div>
                <div v-else-if="infoDiscountCode.data != null" class="text-success">
                  Giảm giá 
                  {{ infoDiscountCode.data.discountAmount }}
                  {{ infoDiscountCode.data.unit }}
                  giá trị đơn hành
                </div>
                <div v-else class="text-danger">{{ infoDiscountCode.message }}</div>
              </div>
              <div class="form-group">
                <label for="note">Ghi chú</label>
                <input
                  type="text"
                  class="form-control"
                  id="note"
                  v-model="orderItem.info.note"
                />
              </div>
            </form>
            <div class="form-group position-relative">
              <label for="fullname">Chọn sản phẩm</label>
              <input
                type="text"
                class="form-control"
                id="fullname"
                placeholder="Có thể tìm kiếm theo tên và nhấn enter để tìm kiêm"
                v-model="sreachStory"
                @keyup.enter="handleSrearchStory()"
              />
              <ul
                v-if="showDataSreachStory"
                class="list-group position-absolute"
                id="data_list_user"
              >
                <li
                  class="list-group-item"
                  v-for="(value, key) in dataSreachStory"
                  :key="key"
                  @click="addProduct(value)"
                >
                  <img :src="value.view" alt="" /> <span>{{ value.name }}</span>
                </li>
                <li v-if="dataSreachStory.length == 0" class="list-group-item">
                  Không có dữ liệu
                </li>
              </ul>
            </div>
            <p style="font-size: 20px; font-weight: 700; color: #007bff">
              Danh sách sản phẩm
            </p>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Ảnh minh họa</th>
                  <th scope="col">Tên sản phẩm</th>
                  <th scope="col">Số lượng</th>
                  <th scope="col">Đơn giá</th>
                  <th scope="col">Thành tiền</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, key) in orderItem.listProduct" :key="key">
                  <th scope="row">{{ key + 1 }}</th>
                  <td>{{ item.story.view }}</td>
                  <td>{{ item.story.name }}</td>
                  <td>
                    <input
                      type="text"
                      @input="updateNumberProduct(key, $event)"
                      :value="item.number"
                    />
                  </td>
                  <td>{{ item.story.pice }}</td>
                  <td class="price_product">
                    {{ item.story.pice * item.number }}
                  </td>
                </tr>
              </tbody>
            </table>
            <p style="font-size: 20px; font-weight: 700; color: #007bff">
              Phần thanh toán
            </p>
            <div>
              <div class="d-flex justify-content-between">
                <span style="font-weight: 500">Tạm tính</span>
                <span style="font-size: 20px; font-weight: 500; color: red">
                  {{ sumPiceProduct }}</span
                >
              </div>
              <div class="d-flex justify-content-between">
                <span style="font-weight: 500">Phí vận chuyển</span>
                <span style="font-size: 20px; font-weight: 500; color: red">
                  {{ transportFee }}</span
                >
              </div>
              <div class="d-flex justify-content-between">
                <span style="font-weight: 500">Mã giảm giá </span>
                <span
                  style="font-size: 20px; font-weight: 500; color: #28a745"
                  >{{ discountCode }}</span
                >
              </div>
              <div class="d-flex justify-content-between">
                <span style="font-weight: 500">Thành tiền</span>
                <span style="font-size: 20px; font-weight: 500; color: red">
                  {{ intoMony }}</span
                >
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { defineComponent } from "vue";
import { mapStores } from "pinia";
import { orderStore } from "../../stores/modules/orderStore";
import { authStore } from "../../stores/modules/authStore";
import { discountCodeStore } from "../../stores/modules/discountCodeStore";

import { useProductListStore } from "../../stores/modules/productStore";

export default defineComponent({
  props: {},
  data() {
    return {
      productListStore: new useProductListStore(),
      loadOrder: {},
      orderList: {},
      checkedItems: [],
      orderItem: {
        info: {
          createdAt: "",
          id: "",
          note: "",
          trangthai: 2,
          discountCode: "",
          user: {
            address: "",
            email: "",
            fullname: "",
            name: "",
            phone: "",
          },
        },
        listProduct: [],
      },

      sreachOrder: [],
      sumPiceProduct: 0,
      discountCode: 0,
      transportFee: 0,
      intoMony: 0,
      sreachStatus: 0,
      inputSreachTextListOrder: "",
      inputSreachDateListOrder: "",
      // thong tin tao order
      sreachUser: "",
      dataSreachUser: {},
      showDataSreachUser: false,
      infoUserCreate: {
        address: "",
        email: "",
        fullname: "",
        name: "",
        phone: "",
      },

      inputCreateOrder: {
        userId: "",
        discountCode: "",
        note: "",
        status: "",
      },
      sreachStory: "",
      showDataSreachStory: false,
      dataSreachStory: {},
      ordered_product: {
        orderid: "",
        storyId: "",
        number: 1,
        content: "",
        type: 2,
        status: 2,
      },
      validateInput: {
        DiscountCode: "",
      },
      infoDiscountCode: {},
    };
  },
  computed: {
    ...mapStores(authStore, orderStore, discountCodeStore),
  },
  methods: {
    clearData() {
      this.orderItem.listProduct = [];
      this.clearThanhToan();
    },
    clearThanhToan() {
      this.sumPiceProduct = 0;
      this.discountCode = 0;
      this.transportFee = 0;
      this.intoMony = 0;
    },
    async getItemOrder(id, idOrder) {
      this.sumPiceProduct = 0;
      this.orderItem.info = this.orderList[id];
      await this.orderStore.getProductList(idOrder);
      this.orderItem.listProduct = this.orderStore.dbProduct.data;

      this.prepareTheBill(this.orderItem.listProduct);
    },
    prepareTheBill(data) {
      //this.clearThanhToan();
      
      data.forEach((item) => {
        this.sumPiceProduct += item.number * item.story.pice;
      });
      this.intoMony =
        this.sumPiceProduct - this.discountCode + this.transportFee;
    },
    sreachStatusListOrder(data) {
      this.sreachOrder = [];
      this.orderList.forEach((item) => {
        if (data == item.status) {
          this.sreachOrder.push(item);
        }
      });
      this.loadOrder = this.sreachOrder;
    },
    // tim kiem bang ten , ma , dia chi
    handleEnterSrearch(data) {
      this.sreachOrder = [];
      this.orderList.forEach((item) => {
        if (
          item.id.toString().includes(data) ||
          item.user.fullname.includes(data) ||
          item.user.address.includes(data)
        ) {
          this.sreachOrder.push(item);
        }
      });
      this.loadOrder = this.sreachOrder;
    },
    handleDateChange(data) {
      const date1 = new Date(data);
      this.orderList.forEach((item) => {
        const date2 = new Date(item.createdAt);
        if (
          date1.getDate() === date2.getDate() &&
          date1.getMonth() === date2.getMonth() &&
          date1.getFullYear() === date2.getFullYear()
        ) {
          this.sreachOrder.push(item);
        }
      });
      this.loadOrder = this.sreachOrder;
    },
    // ------------------Tim user-----------------------
    async handleSrearchUser() {
      this.showDataSreachUser = true;
      await this.authStore.sreachListUser(this.sreachUser);
      this.dataSreachUser = this.authStore.db.data;
    },
    // ------------------ Check ma giam gia -----------------------
    async handleCheckDiscountCode() {
      await this.discountCodeStore.checkDiscountCode(
        this.orderItem.info.discountCode
      );
      this.infoDiscountCode = this.discountCodeStore.db;
      if( this.infoDiscountCode.data != null){
        this.discountCode = this.infoDiscountCode.data.discountAmount;
        console.log(this.discountCode);
        this.prepareTheBill(this.orderItem.listProduct);
      }
    },
    // ------------------Tim product-----------------------

    async handleSrearchStory() {
      this.showDataSreachStory = true;
      await this.productListStore.sreachListStory(this.sreachStory);
      this.dataSreachStory = this.productListStore.db.data;
    },
    // ------------------Tim product-----------------------
    addProduct(data) {
      const itemProduct = {
        number: this.ordered_product.number,
        story: data,
      };
      this.orderItem.listProduct.push(itemProduct);
      this.prepareTheBill(this.orderItem.listProduct);
    },
    // ------------------update number product-----------------------
    updateNumberProduct(key, b) {
      this.orderItem.listProduct[key].number = b.target.value;
      this.prepareTheBill(this.orderItem.listProduct);
    },
    // ------------------tao order-----------------------
    async createOrder() {
      await this.orderStore.setOrder(inputCreateOrder);
      this.orderItem.listProduct = this.orderStore.dbProduct.data;
    },
  },
  async created() {
    await this.orderStore.getOrderList();
    this.orderList = this.orderStore.db.data;
    this.loadOrder = this.orderList;
  },
  mounted() {},
});
</script>
<style scoped>
#data_list_user {
  z-index: 9999;
  width: 100%;
}
#data_list_user > li:hover {
  cursor: pointer;

  background-color: #007bff;
  color: #fff;
}
</style>
