<template>
  <div class="w-full" v-if="setting">
    <div :class="setting.direction">
      <div
        v-for="item in dbMenu"
        class="flex flex-1"
        :class="setting.content"
        :key="item.id"
      >
        <div
          v-if="item.url.trim() != ''"
          class="h-full w-full"
          :class="setting.styleItem"
          @click="onClickOutside(item)"
        >
          <NuxtLink
            :to="item.url"
            class="flex w-full items-center"
            :class="setting.gapIconText"
          >
            <span :class="item.icon"></span>
            <span>{{ item.label }}</span></NuxtLink
          >
        </div>
        <div v-else class="flex w-full items-center">
          <div class="w-full">
            <div
              class="w-full"
              :class="setting.styleItem"
              @click.stop="handleClickMenu(item, item.click)"
            >
              <div
                class="flex w-full items-center"
                :class="setting.gapIconText"
              >
                <img :src="item.img" alt="" />
                <i :class="item.icon"></i>
                <span :class="setting.fontWeight">{{ item.label }}</span>
              </div>
            </div>
            <div v-if="item.subMenu.length > 0 && item.isShow">
              <onClickOutside @trigger="handleClickMenu(item, item.click)">
                <CommonMenu
                  :dbMenu="item.subMenu"
                  :setting="setting.subSetting ? setting.subSetting : setting"
                />
              </onClickOutside>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { OnClickOutside } from '@vueuse/components';
export default defineComponent({
  data() {
    return {
      maxWidth: 0,
    };
  },
  components: { OnClickOutside },
  props: {
    dbMenu: {},
    setting: {},
  },
  methods: {
    handleClickMenu(item, click) {
      if (click === true) {
        this.toggleSubMenu(item);
      }
    },
    toggleSubMenu(item) {
      item.isShow = !item.isShow;
    },
    onClickOutside(item) {
      item.isShow = false;
    },
  },
  created() {},
});
</script>

<style lang="scss" scoped></style>
