<template>
  <div v-if="settingMenu" :class="settingMenu.direction">
    <div
      class="flex w-full flex-1 items-center"
      v-for="(item, key) in dbMenu"
      :key="key"
    >
      <div class="w-full" v-if="item.url.trim() != ''">
        <NuxtLink :class="setting.styleItem" :to="item.url">
          <span :class="item.icon"></span>
          <span>{{ item.label }}</span>
        </NuxtLink>
      </div>
      <div
        v-else
        class="w-full"
        @mouseover="item.isShow = true"
        @mouseout="item.isShow = false"
      >
        <div :class="settingMenu.styleItem" class="relative w-full">
          <span :class="item.icon"></span>
          <span>{{ item.label }}</span>
        </div>
        <div
          class="absolute z-50"
          v-show="item.isShow"
          v-if="item.subMenu.length > 0"
        >
          <CommonMenuOption1
            class="min-w-[200px] bg-white shadow-lg shadow-gray-600"
            :dbMenu="item.subMenu"
            :settingMenu="settingMenu.subSetting"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { OnClickOutside } from '@vueuse/components';
export default defineComponent({
  data() {
    return {
      maxWidth: 0,
    };
  },
  components: { OnClickOutside },
  props: {
    dbMenu: {},
    settingMenu: {},
  },
  methods: {
    handleClickMenu(item, click) {
      if (click === true) {
        this.toggleSubMenu(item);
      }
    },
    toggleSubMenu(item) {
      item.isShow = !item.isShow;
    },
    onClickOutside(item) {
      item.isShow = false;
    },
  },
  created() {},
});
</script>

<style lang="scss" scoped></style>
