<template>
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.2.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>. </strong> All rights reserved.
  </footer>
</template>
<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    item: {},
  },
  setup(props) { },
});
</script>
