<script setup lang="ts">
// You might choose this based on an API call or logged-in status
const layout = '';
</script>

<template>
    <NuxtLayout>
        <NuxtPage />
    </NuxtLayout>
</template>
