<template>
  <div>
    <div class="header flex justify-center">
      <div class="header_menu container flex items-center gap-2 py-3">
        <CommonMenuOption1 :dbMenu="dbFooter" :settingMenu="settingFooter" />
      </div>
    </div>
  </div>
</template>

<script setup>
import { useMenuStore } from '../../../stores/modules/memuStore';
import { useSettingStore } from '../../../stores/modules/settingStore';
const dbFooter = useMenuStore().footer;
const settingFooter = useSettingStore().footer;
</script>

<style lang="scss" scoped></style>
