<template>
</template>
<script>
import { defineComponent } from "vue";
export default defineComponent({
  props: {
  },
  data() {
    return {
    }
  },
  components: {
  },
  setup(props) {
    
  },
  computed: {

  },
  methods: {
  },
  created() {
  }
});
</script>
