<template>
  <div class="tab-pane fade" :class="isShow ? 'active show' : ''" id="custom-tabs-ref" role="tabpanel" aria-labelledby="custom-tabs-ref-tab">
    <form @submit.enter.prevent="">
      <div class="form-group">
        <label for="name">Danh mục</label>
        <Treeselect 
          v-model="dataUpdate.categoryIds"
          :multiple="true"
          :options="commonRefsStore.commonRefs.category" />
          <VueMultiselect 
            v-model="dataUpdate.categoryIds" 
            tag-placeholder="Lựa chọn danh mục"
            placeholder="Gõ từ khóa để tìm kiếm danh mục ..."
            label="name" track-by="id"
            :options="commonRefsStore.commonRefs.category"
            :selectLabel="'Enter để chọn danh mục này'"
            :deselectLabel="'Enter để bỏ chọn danh mục này'"
            :multiple="true">
            <template v-slot:noResult>Không tìm thấy kết quả nào.</template>
            <template v-slot:noOptions>Danh sách danh mục trống.</template>
          </VueMultiselect>
      </div>
      <div class="form-group">
        <label for="name">Bộ sưu tập</label>
        <VueMultiselect 
          v-model="dataUpdate.collectionIds" 
          tag-placeholder="Lựa chọn bộ sưu tập"
          placeholder="Gõ từ khóa để tìm kiếm bộ sưu tập ..."
          label="name" track-by="id"
          :options="commonRefsStore.commonRefs.collection"
          :multiple="true">
          <template v-slot:noResult>Không tìm thấy kết quả nào.</template>
          <template v-slot:noOptions>Danh sách bộ sưu tập trống.</template>
        </VueMultiselect>
      </div>
      <div class="form-group">
        <label for="name">Tags</label>
        <VueMultiselect 
          v-model="dataUpdate.tagIds" 
          tag-placeholder="Enter để tags"
          placeholder="Gõ từ khóa để tìm tags ..."
          label="name" track-by="id"
          :options="commonRefsStore.commonRefs.tag"
          :taggable="true"
          @tag="addTag"
          :no-results="false"
          :multiple="true">
          <template v-slot:noResult>Không tìm thấy kết quả nào.</template>
          <template v-slot:noOptions>Danh sách tag trống.</template>
        </VueMultiselect>
      </div>
      <button type="button" class="btn btn-primary" :class="!store.isValid ? '' : ''" @click="store.saveProduct(dataUpdate, Gcf)">{{store.item.updatedAt ? 'Cập nhật' : 'Thêm mới'}}</button>
    </form>
  </div>
</template>
<script>
import { defineComponent } from "vue"
import { commonRefsStore } from '../../stores/modules/commonStore'
export default defineComponent({
  props: {
    isShow: {
      type: Boolean,
      default: false
    },
    store: {
      type: Object
    }
  },
  data() {
    return {
      commonRefsStore: new commonRefsStore(),
      dataUpdate: {
        id: this.store.item.id || null,
        categoryIds: this.store.item.categoryIds || null,
        collectionIds: this.store.item.collectionIds || null,
        tagIds: this.store.item.tagIds || null,
        tab: 'ref'
      },
    };
  },
  components: {
  },
  setup(props) {
    console.log('props', props.store)
  },
  computed: {},
  methods: {
    addTag (newTag) {
      const tag = {
        id: null,
        name: newTag,
        label: newTag,
      }
      if (this.dataUpdate.tagIds) {
        let checkExist = this.dataUpdate.tagIds.filter(item => newTag == item.name)
        if (!checkExist.length) {
          this.dataUpdate.tagIds.push(tag)
        }
      } else {
        this.dataUpdate.tagIds = [tag]
      }
    },
  },
  created() {},
});
</script>
<style src="vue-multiselect/dist/vue-multiselect.css"></style>
