<script>
function enableCustomLayout() {
    setPageLayout('custom');
}
definePageMeta({
    layout: false,
});
</script>

<template>
    <div>
        <button @click="enableCustomLayout">uppp date</button>
    </div>
</template>
