<template>
  <div class="container">
    <div class="flex">
      <div class="basis-1/5 py-10">
        <CommonMenuOption1 :dbMenu="dbBavbar" :settingMenu="settingNavbar" />
      </div>
      <div class="h-[500px] w-[1000px] basis-4/5 py-10">
        <CommonSlideShow />
      </div>
    </div>
  </div>
</template>
<script setup>
// import { defineComponent } from 'vue';
// import { mapStores } from 'pinia';
import { useMenuStore } from '../stores/modules/memuStore';
import { useSettingStore } from '../stores/modules/settingStore';
const dbBavbar = useMenuStore().navbar;
console.log(dbBavbar);
const settingNavbar = useSettingStore().navbar;
</script>

<style lang="scss" scoped></style>
