<script setup>
import { ref } from 'vue';
import { onClickOutside } from '@vueuse/core';

const target = ref(null);

onClickOutside(target, (event) => console.log(event));
</script>

<template>
    <div ref="target">Hello world</div>
    <div>Outside element</div>
</template>
