<template>
  <div>
    <ThemeHeaderDefault />

    <div class="flex justify-center"><slot /></div>

    <ThemeFooterDefault />
  </div>
</template>

<script setup></script>

<style lang="scss" scoped></style>
