<template>
  <h1>Error</h1>
</template>
<script>
import { defineComponent } from "vue";
export default defineComponent({
  props: {
    active: {
      type: Boolean,
      default: true
    },
    style: {
      default: String,
      default: ""
    }
  },
  data() {
    return {
    }
  },
  components: {
  },
  setup(props) {
    
  },
  computed: {
  },
  methods: {
  },
  created() {
  }
});
</script>
