<template>
  <div>
    <div class="header flex justify-center bg-[#DA251C]">
      <div class="header_menu container flex items-center gap-2 py-3">
        <a href="/" class="basis-1/6 font-bold text-white">META</a>
        <div class="basis-3/6">
          <div class="w-[90%]">
            <UInput
              icon="i-heroicons-magnifying-glass-20-solid"
              size="sm"
              color="white"
              class=""
              :trailing="false"
              placeholder="Search..."
            />
          </div>
        </div>
        <div class="basis-2/6">
          <CommonNavHeader :listBox="dbMenu" :setting="settingMenu" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default defineComponent({
  data() {
    return {
      dbMenu: [
        {
          id: 1,
          icon: 'fa-solid fa-user',
          label: 'Dang nhap',
          url: '',
          isShow: false,
          click: true,
          subMenu: [
            {
              id: 1,
              icon: '',
              label: 'Tra cu don hang',
              url: '',
              isShow: true,
              click: true,
              subMenu: [],
            },
            {
              id: 2,
              label: 'Lich su mua hang',
              url: '',
              icon: '',
              isShow: true,
              click: true,
              subMenu: [],
            },
            {
              id: 3,
              icon: '',
              label: 'Lay ma huyen mai',
              url: '',
              isShow: true,
              click: true,
              subMenu: [],
            },
          ],
        },
        {
          id: 2,
          label: 'Gio hang',
          url: '',
          icon: 'fa-solid fa-cart-shopping',
          isShow: true,
          click: true,

          subMenu: [],
        },
        {
          id: 3,
          icon: 'fa-solid fa-circle-question',
          label: 'Huong dan',
          url: '',
          isShow: true,
          click: true,

          subMenu: [],
        },
        {
          id: 4,
          icon: 'fa-solid fa-phone',
          label: 'Hotline',
          url: '',
          isShow: false,
          click: true,
          subMenu: [
            {
              id: 2,
              label: 'Gio hang',
              url: '',
              icon: 'fa-solid fa-cart-shopping',
              isShow: true,
              click: true,
              subMenu: [],
            },
            {
              id: 3,
              icon: 'fa-solid fa-circle-question',
              label: 'Huong dan',
              url: '',
              isShow: true,
              click: true,
              subMenu: [],
            },
          ],
        },
      ],
      settingMenu: {
        direction: ' flex flex-row items-center gap-3',
        styleItem: {
          direction: 'py-[8px] w-full flex items-center gap-3 text-white',
          icon: '',
          text: '',
        },
        subSetting: {
          direction: 'min-w-[200px] flex flex-col bg-white shadow-gray-500 ',
          styleItem: {
            direction: 'py-[8px] w-full flex  gap-3 text-text1',
            icon: '',
            text: '',
          },
        },
      },
    };
  },
  props: {
    messageFromParent: {},
  },
  methods: {
    handleMouseOver() {
      this.isHovered = true;
    },
    handleMouseOut() {
      this.isHovered = false;
    },
  },
});
</script>
<style lang="scss" scoped></style>
