<template>
  <div class="content-wrapper">
    <div id="toasttt"></div>
    <section class="content-header">
      <div class="container-fluid">
        <h1>Quản lý mã giảm giá</h1>
        <div
          class="mt-3 p-4 bg-white round"
          style="max-height: 1000px; overflow-y: auto"
        >
          <div class="card-header">
            <h3 class="card-title">Danh sách hiện tại</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm">
                <button
                  data-toggle="modal"
                  data-target="#exampleModal"
                  type="button"
                  class="btn btn-block btn-primary btn-sm"
                  @click="cleardiscountCodeItem()"
                >
                  <i class="fas fa-plus" aria-hidden="true"></i> Thêm mới
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Tên tìm kiếm</label
                  ><input
                    v-model="sreachDiscountAmount"
                    @keyup.enter="srearchDiscountAmount(sreachDiscountAmount)"
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Tìm theo mã giảm giá và enter"
                  />
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Trạng thái</label
                  ><select
                    class="form-control select2 select2-hidden-accessible"
                    id="statusSelect"
                    v-model="sreachStatus"
                    @change="sreachStatusListCode(sreachStatus)"
                  >
                    <option value="1">Tắt</option>
                    <option value="2">Bật</option>
                  </select>
                </div>
              </div>
              <div class="form-group" title="Reset bộ lọc">
                <label>&nbsp;</label
                ><span class="form-control" @click="loadCode = listDiscountCode"
                  ><i class="fas fa-sync" aria-hidden="true"></i
                ></span>
              </div>
            </div>
          </div>
          <table class="table table-striped text-center">
            <thead>
              <tr>
                <th>STT</th>
                <th>Mã giảm giá</th>
                <th>Ngày áp dụng</th>
                <th>Ngày kết thúc</th>
                <th>Trạng thái</th>
                <th>Chức năng</th>
              </tr>
            </thead>
            <tbody style="max-height: 700px; overflow: scroll">
              <tr v-for="(value, key) in loadCode" :key="key">
                <td>{{ key + 1 }}</td>
                <td>{{ value.name }}</td>
                <td>{{ value.startDay }}</td>
                <td>{{ value.endDay }}</td>

                <td>
                  <span class="text-danger" v-if="value.status == 1"> Tắt</span>
                  <span class="text-primary" v-if="value.status == 2">
                    Bật</span
                  >
                </td>
                <td>
                  <div
                    class="btn btn-sm btn-primary"
                    data-toggle="modal"
                    data-target="#exampleModal"
                    @click="getDiscountCodeItem(key)"
                  >
                    <i class="fas fa-edit" aria-hidden="true"></i> Chi tiết
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" style="margin: 2rem auto; max-width: 1500px">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Chi tiết mã giảm giá
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="id">Id</label>
                  <input
                    type="text"
                    class="form-control"
                    id="id"
                    v-model="discountCodeItem.id"
                    disabled
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Mã giảm giá</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="discountCodeItem.name"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="discountAmount">Chiết khấu</label>
                  <input
                    type="text"
                    class="form-control"
                    id="discountAmount"
                    v-model="discountCodeItem.discountAmount"
                  />
                </div>

                <div class="form-group col-md-3">
                  <label for="unit">Đơn vị </label>
                  <select
                    class="form-control"
                    id="unit"
                    v-model="discountCodeItem.unit"
                  >
                    <option value="%">%</option>
                    <option value="pice">Pice</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="status">Trạng thái </label>
                  <select
                    class="form-control"
                    id="status"
                    v-model="discountCodeItem.status"
                  >
                    <option value="2">Bật</option>
                    <option value="1">Tắt</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="criteria">Tiêu chí áp dụng</label>
                  <input
                    type="text"
                    class="form-control"
                    id="criteria"
                    v-model="discountCodeItem.criteria"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="quantity">Số lượng </label>
                  <input
                    type="text"
                    class="form-control"
                    id="quantity"
                    v-model="discountCodeItem.quantity"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="startDay">Ngày bắt đầu </label>
                  <input
                    type="date"
                    class="form-control"
                    id="startDay"
                    v-model="discountCodeItem.startDay"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="quantity">Ngày kết thúc</label>
                  <input
                    type="date"
                    class="form-control"
                    id="quantity"
                    v-model="discountCodeItem.endDay"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Hủy
            </button>
            <button
              v-if="discountCodeItem.id != ''"
              type="button"
              class="btn btn-primary"
              @click="updateDscountCode()"
            >
              Lưu thay đổi
            </button>
            <button
              v-else
              type="button"
              class="btn btn-primary"
              @click="createDiscountCode()"
            >
              Thêm mới
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { defineComponent } from "vue";
import { mapStores } from "pinia";
import { discountCodeStore } from "../../stores/modules/discountCodeStore";

import { Toasttt } from "../../static/toast";

export default defineComponent({
  props: {},
  data() {
    return {
      loadCode: [],
      listDiscountCode: [],
      discountCodeItem: {
        id: "",
        name: "",
        discountAmount: 0,
        unit: "",
        criteria: 0,
        quantity: 0,
        startDay: Date.now(),
        endDay: Date.now(),
        status: 2,
      },
      sreachDiscountAmount: "",
      dataSreachDiscountCode: [],
    };
  },
  computed: {
    ...mapStores(discountCodeStore),
  },
  methods: {
    getDiscountCodeItem(data) {
      this.discountCodeItem = this.listDiscountCode[data];
    },
    srearchDiscountAmount(data) {
      this.dataSreachDiscountCode = [];
      this.listDiscountCode.forEach((item) => {
        if (item.name.includes(data)) {
          this.dataSreachDiscountCode.push(item);
        }
      });
      this.loadCode = this.dataSreachDiscountCode;
    },
    sreachStatusListCode(data) {
      this.dataSreachDiscountCode = [];
      this.listDiscountCode.forEach((item) => {
        if (item.status == data) {
          this.dataSreachDiscountCode.push(item);
        }
      });
      this.loadCode = this.dataSreachDiscountCode;
    },
    async updateDscountCode() {
      await this.discountCodeStore.updateDiscountCodeSList(
        this.discountCodeItem
      );
      Toasttt({
        title: this.discountCodeStore.db.title,
        message: this.discountCodeStore.db.message,
        type: this.discountCodeStore.db.type,
        duration: this.discountCodeStore.db.duration,
      });
    },
    cleardiscountCodeItem() {
      this.discountCodeItem.id = "";
      this.discountCodeItem.name = "";
      this.discountCodeItem.discountAmount = "";
      this.discountCodeItem.unit = "";
      this.discountCodeItem.criteria = "";
      this.discountCodeItem.quantity = "";
      this.discountCodeItem.startDay = "";
      this.discountCodeItem.endDay = "";
      this.discountCodeItem.status = "";
    },
    async createDiscountCode() {
      const infoDiscountCode = {
        name: this.discountCodeItem.name,
        discountAmount: this.discountCodeItem.discountAmount,
        unit: this.discountCodeItem.unit,
        criteria: this.discountCodeItem.criteria,
        quantity: this.discountCodeItem.quantity,
        startDay: this.discountCodeItem.startDay,
        endDay: this.discountCodeItem.endDay,
        status: this.discountCodeItem.status,
      };
      await this.discountCodeStore.createDiscountCodeSList(infoDiscountCode);
      Toasttt({
        title: this.discountCodeStore.db.title,
        message: this.discountCodeStore.db.message,
        type: this.discountCodeStore.db.type,
        duration: this.discountCodeStore.db.duration,
      });
      if (this.discountCodeStore.db.data != null) {
        this.loadCode.push(this.discountCodeStore.db.data);
        this.cleardiscountCodeItem();
      }
    },
  },
  async created() {
    await this.discountCodeStore.getDiscountCodeSList();
    this.listDiscountCode = this.discountCodeStore.db.data;
    this.loadCode = this.listDiscountCode;
  },
  mounted() {},
});
</script>
<style scoped>
#data_list_user {
  z-index: 9999;
  width: 100%;
}
#data_list_user > li:hover {
  cursor: pointer;

  background-color: #007bff;
  color: #fff;
}
</style>
